* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  background: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Fonte+Exemplo&display=swap');
/* Substitua 'Fonte+Exemplo' pela fonte desejada do Google Fonts. */

h1 {
  color: #fff;
  font-family: 'Fonte Exemplo', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  text-align: center;
}

#quote-container {
  border: 1px solid white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#quote {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

#author {
  color: gray;
  font-style: italic;
  font-size: 16px;
}

#button-container {
  text-align: center;
}

button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
